.container {
    max-width: 600px;
    margin: 10px auto;
    padding: 0 20px;
    resize: both;
    overflow: auto;
    background-image: url("../images/landscape.JPG");
    background-size: cover;
    background-position: center;
}